<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Downloader, RizkyFadilah</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="overlay"></div>
    <form action="/ytdl/downloadmp3" method="get" class="box">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <div class="header">
        <p class="info">Visitor: 100</p>
        <p class="info">IP: 1.1.1.1</p>
        <h4>YouTube Downloader</h4>
        <p>jika error silahkan report ke contact saya</p>
      </div>
      <div class="info-area">
        <img
          src="<%= img %>"
          alt="<%= title %>"
          style="width: 200px; height: 200px"
        /><br />
        <p>Judul: <b><%= title %></b></p>
        <p>Link: <b><%= link %></b></p>
        <p>
          Size: <br /><b>Audio: <%= sizeaudio %></b><br /><b
            >Video: <%= sizevideo %></b
          >
        </p>
        <div>
          <input type="text" name="token" value="<%= token %>" hidden />
          <input type="url" name="url" value="<%= url %>" hidden />
          <input type="radio" name="type" value="audio" required />
          <label>Audio</label>
          <input type="radio" name="type" value="video" required />
          <label>Video</label>
        </div>
        <br /><br />
        <label for="quali"><b>Choose Quality Result:</b></label
        ><br />
        <select name="quality" id="quali" required>
          <optgroup label="Video">
            <option value="1080">1080p</option>
            <option value="720">720p</option>
            <option value="480">480p</option>
            <option value="240">240p</option>
            <option value="144">144p</option>
          </optgroup>
          <optgroup label="Audio">
            <option value="128">128</option>
            <option value="256">256</option>
          </optgroup>
        </select>
        <input type="submit" value="Download" class="submit" />
        <a href="https://wa.me/6282387804410">Contact Me</a>
      </div>
    </form>
  </body>
</html>
